<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock title %}</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <link href="{{ '/vendor/css/bootstrap.min.css' }}" rel="stylesheet" type="text/css"/>
        <meta name="description"
              content="This is a free Bootstrap landing page theme created for BootstrapZero. Feature video background and one page design."/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content="Codeply">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.1/animate.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/landing-zero-theme.css"/>
        <link rel="stylesheet" href="/css/styles.css"/>
    {% endblock head %}

    {% block styles %}{% endblock styles %}
    <style>
        #urlsTable:nth-child(2n) {
            padding-bottom: 30px;
        }
    </style>

</head>
<body>
{% block header %}{% endblock header %}
<nav id="topNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/"><i class="ion-ios-analytics-outline"></i>
                Direct_Access</a>
        </div>
        <div class="navbar-collapse collapse" id="bs-navbar">
            <ul class="nav navbar-nav">
                {#<li>#}
                {#<a class="page-scroll" href="#one">About</a>#}
                {#</li>#}
                <li>
                    <a class="page-scroll" data-toggle="modal" title="A free Bootstrap video landing theme"
                       href="#aboutModal">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#last">Contact</a>
                </li>
                <li>
                    <a class="page-scroll" href="/apidoc">API</a>
                </li>
                <li>
                    <a class="page-scroll" href="/mobile/android/app-debug.apk"><img style="max-height: 25px;"
                                                                                     src="img/dd.png"/></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="/search">Search</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    {% block content %}{% endblock content %}
</div>
<div id="aboutModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="text-center">Direct Access</h2>
                <h5 class="text-center">
                    An open, free platform that makes your funding research as easy as it should be.
                </h5>
                <p class="text-justify">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                    eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit,
                    posuere a, pede.

                    Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean
                    dignissim pellentesque felis.
                </p>
                {#<p class="text-center"><a href="http://www.bootstrapzero.com">Download at BootstrapZero</a></p>#}
                <br/>
                <button class="btn btn-warning btn-lg center-block" data-dismiss="modal" aria-hidden="true"> OK
                </button>
            </div>
        </div>
    </div>
</div>
<div id="alertModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="text-center">Nice Job!</h2>
                <p class="text-center">You clicked the button, but it doesn't actually go anywhere because this is
                    only a demo.</p>
                <p class="text-center"><a href="http://www.bootstrapzero.com">Learn more at BootstrapZero</a></p>
                <br/>
                <button class="btn btn-warning btn-lg center-block" data-dismiss="modal" aria-hidden="true">OK <i
                            class="ion-android-close"></i></button>
            </div>
        </div>
    </div>
</div>
<script src="{{ '/vendor/js/jquery-2.2.3.min.js' }}" type="text/javascript"></script>
<script src="{{ '/vendor/js/bootstrap.min.js' }}" type="text/javascript"></script>
{% block scripts %}{% endblock scripts %}
</body>
</html>
